$header-height: 64px;

.root_layout {
  min-height: 90vh;
  display: flex;

  padding: 0 20vw;
  // pad
  @media (max-width: 1200px) {
    padding: 0 12vw;
  }
  // mobile
  @media (max-width: 700px) {
    padding: 0 4vw;
  }
}


.header {
  height: $header-height;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid var(--color-border);

  padding: 0 15vw;

  // pad
  @media (max-width: 1200px) {
    padding: 0 8vw;
  }

  // mobile
  @media (max-width: 700px) {
    padding: 0 4vw;
  }

  &_left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &_logo {
      margin-right: 4px;

      filter: var(--invert-bright-image);
    }

    &_description {
      font-size: 1.375rem;
      font-weight: 600;
    }
  }

  &_divider {
    flex: 1;
  }

  &_right {
    &_item {
      font-size: 1.125rem;
      font-weight: 500;

      margin: 0 16px;

      border-bottom: 1px solid transparent;

      &:hover, &:active {
        border-bottom: 1px solid var(--color-secondary-text);
      }

      transition: border-bottom-color 100ms;
    }

    &_theme_switcher {
      margin: 6px;
      padding: 6px;

      display: flex;
      align-items: center;

      cursor: pointer;

      border-radius: 24px;

      border-width: 0;
      fill: var(--color-primary-text);

      background: transparent;

      &:hover, &:active {
        background: var(--color-border);
      }

      transition: background-color 100ms;
    }
  }
}


.footer {
  display: flex;
  padding: 32px 0;
  border-top: 1px solid var(--color-border);
  justify-content: center;
  align-items: center;
}
