<div class="logo">
    {{ if .Site.Params.Logo.path }}
    <a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL }}{{ end }}"
       style="text-decoration: none;">
        <img src="{{ .Site.Params.Logo.path }}" alt="{{ .Site.Params.Logo.alt }}"/>
    </a>

    {{ else }}
    <a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL }}{{ end }}"
       style="text-decoration: none;">
        <span class="logo__mark">{{ with .Site.Params.Logo.logoMark | safeHTML}}{{ . }}{{ else }}>{{ end }}</span>
        <span class="logo__text">{{ with .Site.Params.Logo.logoText | safeHTML}}{{ . }}{{ else }}hello{{ end }}</span>
    </a>

    <span class="logo__inputBar"></span>

    <span class="logo__cursor" style=
            '{{ with.Site.Params.Logo.logoCursorDisabled }}visibility:hidden;{{ end }}
                   {{ with.Site.Params.Logo.logoCursorColor    }}background-color:{{ . }};{{ end }}
                   {{ with.Site.Params.Logo.logoCursorAnimate  }}animation-duration:{{ . }};{{ end }}'>
            </span>
    {{ end }}
</div>
