@mixin code-highlighting {
  overflow-x: auto;

  code[class~="hljs"] {
    color: var(--color-code-default);
    font-family: SFMono-Regular, Menlo, Consolas, Courier, monospace;

    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;

    hyphens: none;


    [class~="hljs-comment"] {
      color: var(--color-code-comment)
    }

    [class~="hljs-punctuation"] {
      color: var(--color-punctuation)
    }

    [class~="hljs-keyword"],
    [class~="hljs-property"],
    [class~="hljs-tag"] {
      color: var(--color-keyword)
    }

    [class~="hljs-keyword"] {
      font-weight: 600;
    }

    [class~="hljs-class-name"] {
      // default color
    }

    [class~="hljs-title"] {
      color: var(--color-function);
    }

    [class~="hljs-operator"] {
      color: var(--color-operator);
    }

    [class~="hljs-literal"] {
      color: var(--color-boolean);
    }

    [class~="hljs-number"] {
      color: var(--color-number);
    }

    [class~="hljs-string"],
    [class~="hljs-attr"],
    [class~="hljs-attribute"] {
      color: var(--color-string);
    }

    [class~="hljs-link"],
    [class~="hljs-regexp"],
    [class~="hljs-variable"],
    [class~="hljs-symbol"] {
      color: var(--color-others);
    }

    [class~="hljs-addition"] {
      color: var(--color-addition);
    }

    [class~="hljs-deletion"] {
      color: var(--color-deletion);
    }


    [class~="hljs-strong"] {
      font-weight: bold;
    }

    [class~="hljs-emphasis"] {
      font-style: italic;
    }
  }
}