@mixin color-schemes-light {
  --color-background: white;
  --color-primary-text: #19191c;
  --color-secondary-text: #5c5d5e;
  --color-border: rgba(0, 0, 0, 0.2);
  --color-link-underline: rgba(0, 0, 0, 0.3);
  --color-code-background: #f2f4f5;
  --invert-bright-image: invert(1);

  html {
    color-scheme: light;
  }
}

@mixin color-schemes-dark {
  --color-background: #0e0e0f;
  --color-primary-text: white;
  --color-secondary-text: #d9d9d9;
  --color-border: rgba(255, 255, 255, 0.2);
  --color-link-underline: rgba(255, 255, 255, 0.3);
  --color-code-background: #1e1f22;
  --invert-bright-image: invert(0);

  html {
    color-scheme: dark;
  }
}

@mixin color-schemes {
  // light scheme will be default for legacy browsers
  :root, :root.light-theme {
    @include color-schemes-light;
  }

  :root.dark-theme {
    @include color-schemes-dark;
  }

  // automatic dark mode
  @media (prefers-color-scheme: dark) {
    :root {
      @include color-schemes-dark;
    }
  }
}
