@import "code-highlighting";

.root {
  padding: 60px 6px;
  width: 100%;
  max-width: 900px;
}

.title {
  font-size: 3.5rem;
  margin: auto;
}

.description {
  font-size: 1.2rem;
  color: var(--color-secondary-text);
}

.metadata::before {
  content: ">";
  font-weight: 600;
  margin-right: 12px;
  color: var(--color-secondary-text);
}

.metadata {
  border-top: 1px solid var(--color-border);
  padding-top: 5px;
  font-size: 1rem;

  &_author {
  }

  &_time {
    color: var(--color-secondary-text);
  }

  &_time::before {
    content: "|";
    font-weight: 600;
    margin: 0 12px;
    color: var(--color-border);
  }
}

.article {
  @mixin margin-common {
    margin-top: 24px;
    margin-bottom: 16px;
  };
  @include margin-common;

  font-size: 1rem;
  line-height: 1.5;

  strong {
    font-weight: 600;
  }

  p {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  a {
    border-bottom: 1px solid var(--color-link-underline);

    &:hover, &:active {
      border-bottom-color: var(--color-secondary-text);
    }

    transition: border-bottom-color 100ms;
  }

  @mixin header-common {
    padding-bottom: 0.3rem;
    font-weight: 600;
  }

  h1 {
    @include margin-common;
    @include header-common;
    font-size: 2.5rem;
    border-bottom: 1px solid var(--color-border);
  }

  h2 {
    @include margin-common;
    @include header-common;
    font-size: 1.75rem;
  }

  h3 {
    @include margin-common;
    @include header-common;
    font-size: 1.25rem;
  }

  hr {
    @include margin-common;
    border: none;
    border-top: 1px solid var(--color-border);
  }

  blockquote {
    @include margin-common;
    margin-left: 0;
    padding: 0 1rem;
    color: var(--color-secondary-text);
    border-left: 0.25em solid var(--color-border);
  }

  // code block
  pre {
    @include margin-common;
    @include code-highlighting;
    padding: 16px;
    border-radius: 6px;
    background-color: var(--color-code-background);

    code {
      background-color: transparent;
      padding: 0;

    }
  }

  code {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
    border-radius: 6px;
    background-color: var(--color-code-background);
  }


  ul {
    padding: 0;

    li {
      padding-left: 24px;
      position: relative;
      list-style-type: none;
    }

    li::before {
      content: "•";
      position: absolute;
      left: 5px;
      color: var(--color-secondary-text);
    }
  }
}
